#textarea {
  min-height: 150px;
}


#doneChangePasswordButton {
  height: 50px;
}

#doneChangePasswordButton:hover {
  background-color: #c32830;
}

.saveCancelChangeBox{
 margin-top:10px;
  width:70%;
   display: flex;
  justify-content: space-around;
  align-items: center
}

.saveCancelChangeBox button{
  width:100%;
}